

<link rel="stylesheet" href="/bahmni_config/openmrs/apps/registration/registrationCardLayout/css/custom-display.css" />
<link rel="stylesheet" href="/bahmni_config/openmrs/apps/registration/registrationCardLayout/css/custom-print.css" media="print"/>

<div class="custom-dischargePatient-print-table" ng-if="displayStuff">
	
	
	<p class="placeholder-text">To whomsoever it may concern,
   		<span ng-if="patient.gender == 'M' ">Mr </span>
   		<span ng-if="patient.gender == 'O' ">Mx </span>  
   		<span ng-if="patient.gender == 'F' ">Ms </span>
   		<span class="custom-bold-text"> {{patient.name}}</span>,
   		<span ng-if="patient.gender == 'M' && patient.fatherName.value!=undefined">son of </span> 
        <span ng-if="patient.gender == 'F' && patient.fatherName.value!=undefined">daughter of </span>
        <span ng-if="patient.gender == 'O' && patient.fatherName.value!=undefined">son of </span>  
 		{{patient.fatherName.value}} <span ng-if="patient.fatherName.value != undefined">, </span> 
 		<span ng-if="patient.gender == 'M' && patient.spouseName.value!=undefined">husband of </span> 
 	    <span ng-if="patient.gender == 'F'&& patient.spouseName.value!=undefined">wife of </span> 
 	    <span ng-if="patient.gender == 'O'&& patient.spouseName.value!=undefined">spouse of </span> 
	 	{{patient.spouseName.value}} <span ng-if="patient.spouseName.value != undefined">, </span> 
	 	residing at {{patient.address.address1}}
  	    {{patient.address.address2}} {{patient.address.address3}} {{patient.address.cityVillage}}{{patient.address.countyDistrict}} 
  	    {{patient.address.stateProvince}}
 		</span> 
 		 Aged <span ng-if="patient.age == 0" ng-bind-html="htmlLabel(patient.ageText)"></span>
 		      <span ng-if="patient.age !== 0">{{patient.age}},</span> 
 		 Gender {{patient.gender}}, 
 		 <span ng-if="patient.occupation.value.display != undefined"> Occupation {{patient.occupation.value.display}}</span>
 		 
   		 
 	  was admitted at<span class="custom-bold-text"> KALIGANJ UHC HOSPITAL </span>,  {{visitSummary.admissionDetails | bahmniDateTime}} in <span class="capitalize">{{visitSummary.visitType}} Department.</span>
 	  The Death Details of the patient are mentioned below,
 	  <br><br>
 	  
  	
  	
   	
  
</div>