<link rel="stylesheet" href="/bahmni_config/openmrs/apps/registration/registrationCardLayout/css/custom-display.css" />
<link rel="stylesheet" href="/bahmni_config/openmrs/apps/registration/registrationCardLayout/css/custom-print.css" media="print"/>

<br><br><br>
<div class="custom-dischargePatient-print-table placeholder-text"  ng-if="displayStuff">

	<div class="fl">
		{{curDate | bahmniDateTime}}
		<br>
		
		
		 
	</div>
    <div class="fr">
    	<p>
			<span>Signature</span><br />
			MO/RMO/Consultant	
			Department</p>
    </div>
    <br><br>
    <br><br>
    
    
    
   
    </div>
