<link rel="stylesheet" href="/bahmni_config/openmrs/apps/registration/registrationCardLayout/css/custom-display.css" />
<link rel="stylesheet" href="/bahmni_config/openmrs/apps/registration/registrationCardLayout/css/print.css"/>
<br><br><br>
<div class="footer-summary-container placeholder-text" ng-if="displayStuff">
   <div class="fl half-width">
      {{curDate | bahmniDateTime}}
      <br>
   </div>
   
   <div class="fr half-width">
      <p>Provider : 
		<span class="cusotom-bold-text" ng-if="observations[0].creatorName.length > 0 && observations[0].providers[0].name.length > 0 && observations[0].creatorName != observations[0].providers[0].name ">
			{{observations[0].creatorName}} on behalf of   <b>{{observations[0].providers[0].name}}</b>
      	</span>
      	<span class="cusotom-bold-text" ng-if="observations[0].creatorName.length > 0 && observations[0].providers[0].name.length > 0 && observations[0].creatorName == observations[0].providers[0].name ">
			{{observations[0].providers[0].name}}
      	</span>
    	</p>
   </div>
   
   <br><br>
   <br><br>
   
   Please note on re-admission or consultation, you ensure to bring the Discharge Summary Report
   <br><br>
   This is an electronically generated document and does not require a signature
</div>