<link rel="stylesheet" href="/bahmni_config/openmrs/apps/registration/registrationCardLayout/css/custom-display.css" />
<link rel="stylesheet" href="/bahmni_config/openmrs/apps/registration/registrationCardLayout/css/print.css"/>
<br><br><br>
<div class="footer-summary-container placeholder-text">
	<div class="fl half-width">
		{{curDate | bahmniDateTime}}
		
	
	</div>
    <div class="fr half-width">
      <span ng-repeat="x in displayName ">{{x}}<br></span></br>
   </div>
    <br><br>
    <br><br>
    <br><br>
   This is an electronically generated document and does not require a signature 
    
    
   
</div>
	

